* {
    margin: 10px;
    font-family: Arial;
    border: border-box;
}

/* #clock {
    font-size: 30px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 0.5rem;
    margin: 20px;
    width: 120px;
    padding: 10px;
} */

